<div
  class=""
>

  <div class="max-w-[1000px] mx-auto p-4 flex flex-col justify-center w-full h-full">
    <h1
      class="subpage-main-heading inline-block font-medium xl:font-semibold leading-tight tracking-tight border-b-2 border-pink-700"
    >
      Skills
    </h1>
    <p class="subpage-sub-heading text-yellow-100 font-medium lg:font-semibold">
      These are the technologies I've worked with.
    </p>
    
  </div>

  <ul
    class="w-full  bg-yellow-200 mx-auto "
  >
    @for(skill of skills$ | async; track skill.id ){

      <div class="size-36 inline-block bg-slate-200 group">  
      <li class="skill-container size-40 
         shadow-md shadow-[#040c16] cursor-pointer  bg-teal-300 group-hover:scale-110 duration-500">
            <!-- <img src="{{ skill.src }}" alt="technology logo" class="w-20 mx-auto  opacity-85 bg-blue-200"> -->

            <p class=" bg-pink-300 leading-9">{{ skill.skillName }}</p>
        </li>
      </div>
    }
  </ul>
</div>
