<nav class="navigation flex justify-end items-center w-full px-2">
  <!-- logo -->
  <div class="navigation-logo z-30 opacity-85 me-auto  xl:ms-3 mt-2">
    <img
      class="h-10 md:h-12 cursor-pointer ms-2"
      routerLink="home"
      src="/assets/logoMobile.png"
      alt="logo"
    />
  </div>
  <!-- desktop- -->
  <div class="hidden sm:block z-30 ">
    <ul class="navigation-list w-full font-medium xl:text-lg tracking-wide flex justify-evenly">
      <li
      class="p-2 px-3"
      routerLink = "home"
      [routerLinkActive]="['active-link']"
      [routerLinkActiveOptions]="{exact : true}"
      (isActiveChange)="this.onRouterLinkActive($event)"
      (click)="getLinkName($event)"
      >Home</li>

      <li
      
        class="p-2 px-3"
            routerLink="about"
          [routerLinkActive]="'active-link'"
          [routerLinkActiveOptions]="{exact : true}"
          (isActiveChange)="this.onRouterLinkActive($event)"
          (click)="getLinkName($event)"
          >About Me
        
      </li>

      <li
      class="p-2 px-3"
      routerLink="skills"
          [routerLinkActive]="'active-link'"
          [routerLinkActiveOptions]="{exact : true}"
          (isActiveChange)="this.onRouterLinkActive($event)"
          (click)="getLinkName($event)"
          >Skills
        
      </li>

      <li>
        <a
          class="link-desktop"
          routerLink="work"
          [routerLinkActive]="'active-link'"
          [routerLinkActiveOptions]="{exact : true}"
          >Work</a
        >
      </li>
      <li>
        <a
          class="link-desktop"
          routerLink="contact"
          [routerLinkActive]="'active-link'"
          [routerLinkActiveOptions]="{exact : true}"
          >Contact</a
        >
      </li>
    </ul>
  </div>

  <!-- button open-close-mobile-menu-->
  <div
    class="navigation-icon-container cursor-pointer relative z-30 text-[#f3f3f3] sm:hidden hover:scale-125 duration-200 transition-all ease-in-out"
    (click)="toggleMobileView()"
  >
    <!-- hamburger -->
    @if(!isMobileView){
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.2"
      stroke="currentColor"
      class="navigation-icon w-10 h-10 md:hidden"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M5,8H19a1,1,0,0,0,0-2H5A1,1,0,0,0,5,8Zm16,3H3a1,1,0,0,0,0,2H21a1,1,0,0,0,0-2Zm-2,5H5a1,1,0,0,0,0,2H19a1,1,0,0,0,0-2Z"
      />
    </svg>
    }
    <!-- X-close -->
    @if(isMobileView){
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.6"
      stroke="currentColor"
      class="navigation-icon w-12 h-12 md:hidden"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6.99486 7.00636C6.60433 7.39689 6.60433 8.03005 6.99486 8.42058L10.58 12.0057L6.99486 15.5909C6.60433 15.9814 6.60433 16.6146 6.99486 17.0051C7.38538 17.3956 8.01855 17.3956 8.40907 17.0051L11.9942 13.4199L15.5794 17.0051C15.9699 17.3956 16.6031 17.3956 16.9936 17.0051C17.3841 16.6146 17.3841 15.9814 16.9936 15.5909L13.4084 12.0057L16.9936 8.42059C17.3841 8.03007 17.3841 7.3969 16.9936 7.00638C16.603 6.61585 15.9699 6.61585 15.5794 7.00638L11.9942 10.5915L8.40907 7.00636C8.01855 6.61584 7.38538 6.61584 6.99486 7.00636Z"
      />
    </svg>
    }
  </div>
</nav>

<!-- mobile Nav -->
<div
  class="flex flex-col justify-center items-center z-20 fixed bottom-0 right-0 h-full w-full bg-[#111]/[80%] sm:hidden text-[2rem] sm:text-[2.5rem] font-bold duration-500 ease-in-out"
  [ngClass]="isMobileView ? 'translate-x-[0]' : 'translate-x-[100%]'"
>
  <ul
    class="navigation-mobile flex flex-col justify-center items-center"
    (click)="toggleMobileView()"
  >
    <li class="my-4">
      <a class="border-b-2 border-pink-500 pb-2" routerLink="home">Home</a>
    </li>
    <li class="my-4">
      <a class="border-b-2 border-pink-500 pb-2" routerLink="about">About Me</a>
    </li>
    <li class="my-4">
      <a class="border-b-2 border-pink-500 pb-2" routerLink="skills">Skills</a>
    </li>

    <li class="my-4">
      <a class="border-b-2 border-pink-500 pb-2" routerLink="work">Work</a>
    </li>
    <li class="my-4">
      <a class="border-b-2 border-pink-500 pb-2" routerLink="contact"
        >Contact</a
      >
    </li>
  </ul>
  <div
    class="z-20 w-3/4 grid grid-cols-2 justify-center items-center mt-6 bg-slate-500 opacity-80"
  >
    <i
      class="fa-solid fa-envelope text-[30px] text-center w-full border py-3 text-pink-300"
    ></i>
    <i
      class="fa-brands fa-github text-3xl text-center w-full border border-s-0 py-3 text-pink-300"
    ></i>
    <i
      class="fa-brands fa-linkedin text-3xl text-center w-full border border-t-0 py-3 text-pink-300"
    ></i>
    <i
      class="fa-brands fa-discord text-3xl text-center w-full border-b border-e py-3 text-pink-300"
    ></i>
  </div>
</div>

<!-- [class.link-desktop] = 'isRouterActiveLink' -->
