<nav class="navigation flex justify-between items-center w-full h-full ">
  <!-- logo -->
    <div class="navigation-logo z-30 opacity-85">
      <img class="h-12 ms-2" src="/assets/logoMobile.png" alt="logo"/>
    </div>
  <!-- desktop- -->
  <ul class="navigation-list flex invisible w-0 md:w-auto md:visible">
    <li><a class="link-desktop" href="">Home</a></li>
    <li><a class="link-desktop" href="">About</a></li>
    <li><a class="link-desktop" href="">Projects</a></li>
    <li><a class="link-desktop" href="">Contact</a></li>
  </ul>

  <!-- button open-close-mobile-menu-->
  <div
    class="navigation-icon-container cursor-pointer relative z-50 text-[#f3f3f3] md:invisible hover:scale-125 duration-200 transition-all ease-in-out"
    (click)="toggleMobileView()"
  >
    <!-- hamburger -->
    @if(!isMobileView){
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.2"
      stroke="currentColor"
      class="navigation-icon w-10 h-10 md:invisible"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M5,8H19a1,1,0,0,0,0-2H5A1,1,0,0,0,5,8Zm16,3H3a1,1,0,0,0,0,2H21a1,1,0,0,0,0-2Zm-2,5H5a1,1,0,0,0,0,2H19a1,1,0,0,0,0-2Z"
      />
    </svg>
    }
    <!-- X-close -->
    @if(isMobileView){
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.6"
      stroke="currentColor"
      class="navigation-icon w-12 h-12 md:invisible"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6.99486 7.00636C6.60433 7.39689 6.60433 8.03005 6.99486 8.42058L10.58 12.0057L6.99486 15.5909C6.60433 15.9814 6.60433 16.6146 6.99486 17.0051C7.38538 17.3956 8.01855 17.3956 8.40907 17.0051L11.9942 13.4199L15.5794 17.0051C15.9699 17.3956 16.6031 17.3956 16.9936 17.0051C17.3841 16.6146 17.3841 15.9814 16.9936 15.5909L13.4084 12.0057L16.9936 8.42059C17.3841 8.03007 17.3841 7.3969 16.9936 7.00638C16.603 6.61585 15.9699 6.61585 15.5794 7.00638L11.9942 10.5915L8.40907 7.00636C8.01855 6.61584 7.38538 6.61584 6.99486 7.00636Z"
      />
    </svg>
    }
  </div>

  <!-- mobile -->
  <div
    class="absolute bottom-0 left-0 backdrop-blur-[3px] z-10 bg-transparent w-full h-[90%] duration-500 transition-opacity md:invisible"
    [ngClass]="isMobileView ? 'opacity-100' : 'opacity-0'"
  ></div>
  <ul
    class="navigation navigation-list flex flex-col fixed z-20 bottom-0 right-0 h-full w-full bg-[#111]/[80%] justify-center items-center md:invisible text-[2.2rem] sm:text-[2.5rem] font-bold duration-500 ease-in-out z-100"
    [ngClass]="isMobileView ? 'translate-x-[0]' : 'translate-x-[100%]'"
  >
    <li class="my-5">
      <a href="">Home</a>
    </li>
    <li class="my-5">
      <a href="">About</a>
    </li>
    <li class="my-5">
      <a href="">Projects</a>
    </li>
    <li class="my-5">
      <a href="">Contact</a>
    </li>
  </ul>
</nav>

