<nav class="flex justify-between items-center w-full h-full">
  <!-- logo -->
  <div class="px-2"><img src="" alt="logo"/></div>
  <!-- desktop- -->
  <ul class="flex invisible md:visible">
    <li><a class="" href="">Home</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Projects</a></li>
    <li><a href="">Contact</a></li>
  </ul>

    <!-- button open-close-mobile-menu-->
  <div class="absolute top-0 right-5 py-2 cursor-pointer z-20 text-[#f3f3f3] md:invisible hover:scale-110 duration-200 delay-75 ease-in-out"
  (click)="toggleMobileView()"
  >
    <!-- hamburger -->

    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.2"
      stroke="currentColor"
      class="w-12 h-12 absolute md:invisible 
      "
      [ngClass]="!isMobileView ? 'visible' : 'invisible'"

    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
      />
    </svg>

    <!-- X-close -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.2"
      stroke="currentColor"
      class="w-12 h-12 md:invisible"
      [ngClass]="isMobileView ? 'visible' : 'invisible'"
      >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18 18 6M6 6l12 12"
      />
    </svg>
  </div>

  <!-- mobile -->
    <div class="absolute bottom-0 left-0 backdrop-blur-[1.5px] bg-transparent w-full h-full duration-500 transition-opacity md:invisible"
    [ngClass]="isMobileView ? 'opacity-100' : 'opacity-0'"
    ></div>
    <ul class="flex flex-col fixed top-0 right-0 h-full w-full bg-[#111]/[90%] rounded-s-3xl justify-center items-center md:invisible text-[2.2rem] sm:text-[2.5rem] font-semibold duration-500 ease-in-out "
    [ngClass]="isMobileView ? 'translate-x-[15%]' : 'translate-x-[98%]'"
    >
      <li class="py-5 -translate-x-[15%]"><a href="">Home</a></li>
      <li class="py-5 -translate-x-[15%]"><a href="">About</a></li>
      <li class="py-5 -translate-x-[15%]"><a href="">Projects</a></li>
      <li class="py-5 -translate-x-[15%]"><a href="">Contact</a></li>
    </ul>

</nav>

