<div class="home-container flex flex-col h-full w-full">
  <div class="h-3/5 relative">
    <div
      class="home-backgroud relative opacity-50 grayscale-[0.65] bg-cover bg-center h-full"
    >
  </div>
  <div class="absolute top-0 left-0 h-full w-full flex flex-col justify-around items-center font-bold">
    <h1 class="text-5xl leading-tight tracking-tight">I create amazing experience</h1>
    <p class="text-xl">Front-End Developer focused on bulding responive web applications</p>
    <p>My Work<span class="mx-auto">- View work</span></p>
  </div>

  </div>
</div>
