<div class="home-container flex flex-col justify-around h-full mt-4">
  <h1
    class="home-heading font-medium xl:font-semibold leading-tight tracking-tight px-6 xl:px-12"
  >
    I create amazing experience
  </h1>

  <p
    class="home-text font-medium xl:font-semibold leading-relaxed text-yellow-100 px-6 xl:px-12"
  >
    Front-End Developer <br /><span
      class="block home-text leading-relaxed md:leading-loose xl:leading-10 w-10/12"
      >focused on bulding responsive web applications</span
    >
  </p>

<div class="flex flex-col gap-2 xl:gap-4 w-full">
  <div class="flex justify-between items-center px-6 xl:ps-12">
    <p class="home-text-slider font-bold [word-spacing:3px]">My Work</p>
    <a
      class="home-text-slider font-bold text-pink-600 cursor-pointer [word-spacing:3px] md:hidden"
      >- View Work -</a
    >
    <a
      href=""
      class="home-button home-text-slider font-medium relative hidden md:inline-block tracking-wider cursor-pointer [word-spacing:4px]  bg-pink-700 bg-opacity-85 border-2 border-gray-200 border-opacity-80 px-4 py-2 rounded-xl duration-300"
      >View Work</a
    >
  </div>

  <app-slider class="w-full"/>
</div>
</div>
