<div class="home-container flex flex-col h-full w-full">
  <div class="basis-3/4 relative mt-2">
    <div
      class="home-backgroud relative opacity-50 grayscale-[0.65] bg-cover bg-center h-full"
    ></div>
    <div
      class="absolute top-0 left-0 h-full w-full flex flex-col justify-between font-bold pt-8 xl:pt-16 xl:pb-6"
    >
      <h1 class="text-5xl lg:text-6xl xl:text-7xl md:text-center leading-tight tracking-tight px-5">
        I create amazing experience
      </h1>
      <p class="text-base sm:text-xl xl:text-2xl leading-relaxed xl:leading-10 text-yellow-100 px-5 md:px-14">
        Front-End Developer <br /><span
          class="block text-base sm:text-xl xl:text-2xl leading-relaxed md:leading-loose xl:leading-10 w-10/12"
          >focused on bulding responsive web applications</span
        >
      </p>
      <div class="flex justify-between items-center px-6 md:px-14">
      <p class="[word-spacing:3px] sm:text-xl xl:text-2xl">
        My Work
      </p>
      <a class="text-blue-500 cursor-pointer [word-spacing:3px] sm:text-xl md:hidden ">- View Work -</a>
      
    </div>
    
    </div>
  </div>
  <div class="basis-1/4 py-4">
    <app-slider />
  </div>
</div>
