
/* swiper-container {
  --swiper-navigation-size: 0px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: -100px;
  --swiper-navigation-color: rgb(192, 17, 104);

}

@media( min-width: 1024px){
  swiper-container {
    --swiper-navigation-size: 50px;
  }

} */

