<swiper-container
  init="false"
  effect="cube"
  class="xl:mx-32 mx-auto"
>
  @for(project of projects$ | async; track project.id){

  <swiper-slide class="h-full flex flex-col gap-1">
    <img
      [src]="project.src"
      [alt]="project.projectName"
      class="h-[300px] lg:h-[350px] object-cover rounded-sm cursor-grab"
    />
    <div class="flex uppercase">
      <a
        class="mx-auto shadow-md shadow-[#040c16] p-3 xl:p-5 rounded-sm w-1/2 text-center font-semibold tracking-tight cursor-pointer xl:text-xl"
        >demo</a
      >
      <a
        class="mx-auto shadow-md shadow-[#040c16] p-3 xl:p-5 rounded-sm w-1/2 text-center font-semibold tracking-tight cursor-pointer xl:text-xl"
        >code</a
      >
    </div>
  </swiper-slide>

  }
</swiper-container>
<button class="swiper-button-prev">prev</button>
<button class="swiper-button-next">next</button>

