
<div class="w-full" >

<form action="https://getform.io/f/pbmqdpwb" method="POST"
class="flex flex-col md:w-2/3 gap-4 mx-auto p-6 rounded-lg bg-gradient-to-r from-stone-700 from-30% via-blue-400 to-pink-600 to-95% opacity-95 shadow-lg shadow-stone-800
">

<div>
    <input 
    type="text" 
    name="name"
    placeholder="Name"
    class="text-black bg-blue-50 w-full p-2 rounded-md">
    <p class="p-1">The field can't be empty</p>
</div>

<div>
    <input 
    type="email" 
    name="email" 
    placeholder="Email" 
    class="text-black bg-blue-50 w-full p-2 rounded-md">
    <p class="p-1">The field can't be empty</p>
</div>

<div>
    <textarea 
    type="text" 
    name="message" 
    placeholder="Message" 
    class="text-black bg-blue-50 w-full p-2 rounded-md"></textarea>
    <p class="p-1">The field can't be empty</p>
</div>

    <button type="submit">Send</button>
</form>

</div>

