<div class="about-container h-full mt-4 ">

<div class="flex justify-center lg:justify-end items-center gap-2 md:gap-10">
    <!-- <div class="about-marty-image bg-center bg-cover fixed"></div> -->
    <h1 class="font-heading xl:font-semibold leading-tight tracking-tight mb-12 border-b-2  border-pink-700">About me</h1>
    <div class="max-w-[35%] grayscale-[5%] brightness-95 saturate-90"><img src="/assets/Marcin Mierzwa Compresed 368x500px no background.png" alt="Marcin Mierzwa photo" class="h-auto min-h-min max-h-[270px] max-w-full">
    </div>
</div>

    <p class="text-white">
      I am a frontend developer with a passion for creating beautiful and
      functional web applications. I have experience with a variety of
      technologies including HTML, CSS, JavaScript, React, Node.js, Express,
      MongoDB, and more. I am always looking for new opportunities to learn and
      grow as a developer.
    </p>

</div>

