
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100vw;
  height: 100vh;
  background-color: lightgrey;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

swiper-container {
  width: 300px;
  height: 300px;
  background-color: rgb(183, 134, 228);
}



.swiper-pagination {
  width: 100px;
  height: 40px;
  background-color: lightyellow;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2px;
  font-size: 20px;
}








.buttons-box {
  width: 20%;
  background-color: rgb(108, 186, 186);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 20px;
}





