/* You can add global styles to this file, and also import other style files */
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
  
  }

